@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&family=Titillium+Web:wght@400;600&display=swap');

@import "./00-header.css";
@import "./08-figure-midia.css";
@import "./09-faq.css";
@import "./10-footer.css";
@import "./catalog.css";
@import "./utils.css";