nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav h1 {
    font-size: 1.8rem;
}

.navDetail {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.navDetail::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-05);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navDetail:hover::after {
  transform: scaleX(1);
}


@media (max-width: 640px) {
  nav {
    flex-direction: column;
    gap: 25px;
  }
}