.midia-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px; 
}

.midia-item img {
  display: block;
  width: 100%;
  height: auto;
}

.midia-item::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(226, 102, 131, 0.541); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.midia-item:hover::after {
  opacity: 1;
}

.figure-midia {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 40px;
}

/* ------- */

@media (max-width: 768px) {

  .figure-midia {
      grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 540px) {
  .figure-midia {
      grid-template-columns: repeat(4, 1fr);
  }
}