.accordion {
  border-bottom: 1px solid #ddd;
}

.accordion:hover .accordion-header {
  background-color: #f9f9f9;;
}

.accordion:first-child {
  margin-top: 60px;
}

.accordion-header strong, 
.accordion-content {
  margin-left: 60px;
}

.accordion-header {
  width: 100%;
  background: none;
  border: none;
  padding: 16px 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header {
  font-size: 1.2rem;
  transition: transform 0.3s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  padding-bottom: 16px;
  margin: 0;
}

.accordion.active .accordion-content {
  max-height: 200px;
}

@media (max-width: 640px) {
  .accordion:first-child {
    margin-top: 20px;
  }
}

@media (max-width: 430px) {
  .accordion-header strong, 
  .accordion-content {
    margin-left: 20px;
  }
}