.footer {
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer a {
    color: inherit;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--color-05);
}

@media (max-width: 430px) {
    .footer-nav {
        gap: 10px;
    }

    .footer p {
        font-size: 0.875rem;
    }
}