body,
h1,
ul,
p, 
span{
    margin: 0px;
    color: var(--color-04);
}

ul {
  padding: 0px;
  list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* ------- */

:root {
    --color-00: #FFFFFF;
    --color-01: #F5F4ED;
    --color-02: #E26683;
    --color-03: #EF7C97;
    --color-04: #545454;
    --color-05: #23cb7d;
}

.background {
    background-color: var(--color-01);
}

.background-contrast {
    background: var(--color-01);
    box-shadow: inset 0 120px var(--color-00), inset 0 -60px var(--color-00);
}

.background-contrast-botton {
    background: var(--color-01);
    box-shadow: inset 0 100px var(--color-00), inset 0 -100px var(--color-00);
}

.background-detail {
    background-color: var(--color-03);
    box-shadow: inset 0 -170px var(--color-01);
    margin-top: 40px;
}

/* ------- */

h1 {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

p, li {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.250rem;
}

.p-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

/* ------- */

@media (max-width: 1024px) {

    .background-contrast-botton {
        background: var(--color-01);
        box-shadow: inset 0 0 var(--color-00), inset 0 0 var(--color-00);
    }
}

@media (max-width: 870px) {
    h1 {
        font-size: 2.5rem;
    }

    p, li {
        font-size: 1.125rem;
    }
}

@media (max-width: 768px) {

    .background-contrast {
        background: var(--color-01);
        box-shadow: inset 0 0 var(--color-00), inset 0 0 var(--color-00);
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 1.8rem;
    }

    .background-detail {
        margin-top: 20px;
    }
}